body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../images/new_background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    text-align: center;
    margin-top: 100px;
}

h1 {
    color: #333;
}

.btn-container {
    margin-top: 20px;
}

.btn-container button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-container button:hover {
    background-color: #45a049;
}